body {
    background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=49322");
    margin: 0 auto;
    font-family: Roboto;

}
header{
    padding: 30px;
    color: white;
    background-color: #25283D;

}
.router-outlet{
    min-height: 100px;
    width: 100%;
}
footer{
    padding: 30px;

    background-color: #25283D;
    color:white
}

.btn{
    padding: 0.8em;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 30px;
    margin-left: 30px;
}
.btn-primary{
    background-color: #25283D;
    border: 1px solid #25283D;
}
.btn-primary:hover{
    background-color: #181a29;
}
